.typeBug {
  background-color: #a8b821;
}

.typeDark {
  background-color: #6f5848;
}

.typeDragon {
  background-color: #7038fa;
}

.typeElectric {
  background-color: #f8ce3a;
}

.typeFairy {
  background-color: #eeaff2;
}

.typeFighting {
  background-color: #b9332c;
}

.typeFire {
  background-color: #f07f2f;
}

.typeFlying {
  background-color: #a891ed;
}

.typeGhost {
  background-color: #715899;
}

.typeGrass {
  background-color: #77c752;
}

.typeGround {
  background-color: #debf74;
}

.typeIce {
  background-color: #98d8d8;
}

.typeNormal {
  background-color: #a9a878;
}

.typePoison {
  background-color: #a040a1;
}

.typePsychic {
  background-color: #ef5c88;
}

.typeRock {
  background-color: #b89f38;
}

.typeSteel {
  background-color: #b7b9d1;
}

.typeWater {
  background-color: #698ff4;
}
